body {
    color:#015456;
    background-color: #e0f2f1 ;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  

.mycarousel {
  display: flex;
  overflow-x: scroll;
  
}

.mycarousel-item {
  margin-right: 80px;
}

h3 {
  color: brown;
  
}

h5 li {
  font-weight: 300;
  line-height: 30px;
}