<!-- detail page for each country, where buckets locountryed -->

{% extends 'base.html' %}
{% block content %}
<h1>Country Details</h1>

<ul>
  <h5> <li>Official name: {{ country.officialname }}</li></h5>
  <h5><li>Region: {{ country.region }}</li></h5>
  <h5><li>Capital: {{ country.capital }}</li></h5>
  <h5><li>Currenices: {{ country.currency }}</li></h5>
  <h5><li>Population: {{ country.population }}</li></h5>
  <h5><li>Language: {{ country.language }}</li></h5>

</ul>
<h5><a href="{% url 'countries_update' country.id %}">Edit   </a> | <a href="{% url 'countries_delete' country.id %}">   Delete </a></h5>
<div class="row">
    <div class="col s12 m6">
      
    {% for country in countrys %}
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ country.flag }}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><a href="/countries/{{ country.id }}">{{ country.name }}</a><i class="material-icons right">MORE</i></span>

      </div>
      <div class="card-reveal">
        
        <span class="card-title grey-text text-darken-4">{{ country.name }}<i class="material-icons right">close</i></span>
            <p>Official name: {{ country.officialname }}</p>
            <p>Region: {{ country.region }}</p>
            <p>Capital: {{ country.capital }}</p>
            <p>Currenices: {{ country.currency }}</p>
            <p>Population: {{ country.population }}</p>
            <p>Language: {{ country.language }}</p>
      </div>
    </div>
    
      {% endfor %} 
    </div>
  </div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ country.name }}'s buckets</h3>
    {% if country.buckets.count %}
      {% for bucket in country.buckets.all %}
        <div class="card medium">
          <div class="card-content">
            <span class="card-title">
             {{ bucket.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_bucket' country.id bucket.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No buckets :(</h5>
    {% endif %}
  </div>


{% endblock %}