<!-- all countries display for each user (added countries by user) -->

<!-- detail page for each country, where buckets located -->

{% extends 'base.html' %}
{% block content %}
<h1>Countries</h1>
<hr />

<div class="row">
  <div class="col s12 m6">
    <div class="card red lighten-3">
      <div class="card-content white-text">
        <a href="{% url 'countries_create' %}"><span class="card-title">ADD NEW COUNTRY</span></a>
        <p>New adventures await! Add a new country to visit and check off your list of world tour!</p>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col s12 m6">
      
    {% for country in countrys %}
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ country.flag }}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><a href="/countries/{{ country.id }}">{{ country.name }}</a><i class="material-icons right">MORE</i></span>

      </div>
      <div class="card-reveal">
        
        <span class="card-title grey-text text-darken-4">{{ country.name }}<i class="material-icons right">close</i></span>
            <p>Official name: {{ country.officialname }}</p>
            <p>Region: {{ country.region }}</p>
            <p>Capital: {{ country.capital }}</p>
            <p>Currenices: {{ country.currency }}</p>
            <p>Population: {{ country.population }}</p>
            <p>Language: {{ country.language }}</p>
      </div>
    </div>
    
      {% endfor %} 
    </div>
  </div>
    

{% endblock %}








      <!-- <div class="card">
        <div class="card-image">
          
          <img src="{{ country.flag }}">
         
        </div>
        <div class="card-content">
          c<span class="card-title">{{ country.name }}</span></a>
            <p>Official name: {{ country.officialname }}</p>
            <p>Region: {{ country.region }}</p>
            <p>Capital: {{ country.capital }}</p>
            <p>Currenices: {{ country.currency }}</p>
            <p>Population: {{ country.population }}</p>
            <p>Language: {{ country.language }}</p>
        </div>
      </div> -->



<!-- 

<h1>Countries</h1>
<hr />


<div class="row">
    <div class="col s12 m6">
    {% for x in c %}
      
      <div class="card">
        <div class="card-image">
          <img src="{{ x.flags.png }}">
         
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <a href="/countries/{{ forloop.counter }}"><span class="card-title">{{ x.name.common }}</span></a>
       
            <p>Region: {{ x.region }}</p>
            <p>Capital: {{ x.capital.0 }}</p>
            <p>Currenices: {{ x.currines }}</p>
            <p>Population: {{ x.population }}</p>
            <p>Timezone: {{ x.timezone }}</p>
            <p>Languages: {{ x.languages }}</p>
        </div>
      </div>
      {% endfor %} 
    </div>
  </div>
    

{% for x in bahrian %}
<p>Country: {{ x.name.common }}</p>


{% endfor %}

<div class="countriesContainer">
   {% for x in c %} 
        <div class="countryContainer">

            <a href="{% url 'about' %}">
                <h3>{{ x.name.common }}</h3>
                <img src="{{x.flags.png}}" alt="" heigth="160" width="270">
            </a>
            <p>Region: {{ x.region }}</p>
            <p>Capital: {{ x.capital }}</p>
            <p>Currenices: {{ x.currines }}</p>
            <p>Population: {{ x.population }}</p>
            <p>Timezone: {{ x.timezone }}</p>
            <p>Languages: {{ x.languages }}</p>

       
        </div>
     {% endfor %}
</div>

 -->