{% extends 'base.html' %}
{% block content %}

<h1>All about Travelist</h1>
<hr />


<h3>Where all your adventures begin.</h3>
<div class="mycarousel">
    <a class="mycarousel-item" ><img src="../static/media/Hawkey8.png" height="500" width="700"></a>
    <a class="mycarousel-item" ><img src="../static/media/Hawkey6.png" height="500" width="700"></a>
    <a class="mycarousel-item" ><img src="../static/media/Hawkey9.png" height="500" width="700"></a>
    <a class="mycarousel-item" ><img src="../static/media/Hawkey4.png" height="500" width="700"></a>
    <a class="mycarousel-item" ><img src="../static/media/Hawkey2.png" height="500" width="700"></a>
    <a class="mycarousel-item" ><img src="../static/media/Hawkey11.png" height="500" width="700"></a>

  </div>

<h4> You can do so much within one click!</h4>
<ol>
   
    <h6><li>Create your own unique travel dashboard.</li></h6>
    <h6><li>Add countries you want to visit.</li></h6>
    <h6><li>Add buckets to each country.</li></h6>
    <h6><li>Review each bucket!</li></h6>
    <h6><li>Never miss a thing!</li></h6>
    <h6><li>Plan your journey here!</li></h6>
</ol>

{% endblock %}