{% extends 'base.html' %}
{% block content %}

<h1>All about Travelist</h1>
<hr />


<h3>Where all your adventures begin.</h3>
<img src="../static/media/Hawkey8.png" height="500" width="700">
<h4> You can do so much within one click!</h4>
<ul>
   
    <li>Create your own unique travel dashboard.</li>
    <li>Add countries you want to visit.</li>
    <li>Add buckets to each country.</li>
    <li>Review each bucket!</li>
    <li>Never miss a thing!</li>
    <li>Plan your journey here!</li>
</ul>

{% endblock %}