{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css2/style.css' %}"/>

    
    <title>Travelist</title>
   
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #006064 cyan darken-4 ">
                <ul>
                    <li class="navItems"><a href="/" class="left brand-logo">&nbsp;&nbsp;Travelist</a></li>
                </ul>
                <ul class="right">
                    <li  class="navItems"><a href="{% url 'about' %}">About</a></li>
                    <li  class="navItems"><a href="{% url 'tips' %}">Travel Tips</a></li>
                    <li  class="navItems"><a href="{% url 'contact' %}">Contact us</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'about' %}">Add Country</a></li>
                    <li><a href="{% url 'about' %}">View All Countries</a></li>
                    <li><a href="{% url 'about' %}">Add a Bucket</a></li>
                    <li><a href="{% url 'about' %}">View All My Buckets</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>

                    {% endif %}
                    
                  </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer #006064 cyan darken-4">
        <div class="center">All Rights Reserved, &copy; 2022 Travelist &nbsp;</div>
     </footer>
</body>
</html>