<!-- contact us form page, where to find us, or email sent to us etc -->
<!-- travel tips page -->
{% extends 'base.html' %}
{% block content %}
<h1>Contact us</h1>
<hr />

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" data-length="220"></textarea>
            <label for="textarea2">Inquiry</label>
        </div>
      </div>

      <button class="waves-effect waves-light btn">Submit</button>
      
    </form>
  </div>

{% endblock %}