{% extends 'base.html' %}
{% block content %}

<h1>Travelist Home</h1>
<div class="homeblock1">
    <img src="../static/media/Hawkey3.png" height="800" width="1400">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium doloremque totam autem aut. Officia dolor itaque dicta aliquid voluptatibus quidem quo quae, eius tempore asperiores perferendis deleniti, soluta, accusamus incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium doloremque totam autem aut. Officia dolor itaque dicta aliquid voluptatibus quidem quo quae, eius tempore asperiores perferendis deleniti, soluta, accusamus incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium doloremque totam autem aut. Officia dolor itaque dicta aliquid voluptatibus quidem quo quae, eius tempore asperiores perferendis deleniti, soluta, accusamus incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium doloremque totam autem aut. Officia dolor itaque dicta aliquid voluptatibus quidem quo quae, eius tempore asperiores perferendis deleniti, soluta, accusamus incidunt.</p>

</div>



{% endblock %}