<!-- travel tips page -->
{% extends 'base.html' %}
{% block content %}
<h1>TRAVEL TIPS</h1>
<hr />

<!-- list for each category -->
<h3>Before Travel</h3>

    <ol>
        <h5><li>Do your research</li></h5>
        <h5><li>Get to know your destination in depth before you arrive.</li></h5>
        <h5><li>Read traveler reviews</li></h5>
        <h5><li>Get the contact information for the nearest embassy or consulate, police station, and other local emergency departments.</li></h5>
        <h5><li>Make copies of important documents.</li></h5>
        <h5><li>Well, ofcourse make buckets here on TRAVELIST!</li></h5>
    </ol>
       
<hr />
<h3>During Travel</h3>
<ol>
    <h5><li>Be aware of theft!</li></h5>
    <h5><li>Take uber or taxi from hotel as it will be more safe and fixed price.</li></h5>
    <h5><li>Take a lot of photos and videos!</li></h5>
    <h5><li>Make memories and don't focus on the little things.</li></h5>
    <h5><li>Don’t draw attention. </li></h5>
    <h5><li>Keep your friends and family updated</li></h5>
    <h5><li>Be wary of public Wi-Fi.</li></h5>
    <h5><li>Safeguard your hotel room</li></h5>
    <h5><li>Be aware of your surroundings</li></h5>
</ol>
<hr />
<h3>After Travel</h3>
<ol>
    <h5><li>TRAVEL ALBUM: go ahead and print the photos and make an album with memory notes!</li></h5>
    <h5><li>You dont like the first one? Well, go all TECH, make a video montage!</li></h5>
    <h5><li>Review your buckets here on TRAVELIST!</li></h5>

</ol>

<hr />

{% endblock %}