<!-- travel tips page -->
{% extends 'base.html' %}
{% block content %}
<h1>TRAVEL TIPS</h1>
<hr />

<!-- list for each category -->
<h2>Before Travel</h2>
<ul>
    <li>
        <bold>Do your research</bold> Get to know your destination in depth before you arrive.<br /> 
        <ul>Read traveler reviews</ul>
        <ul>Consult with locals for information about the safest neighborhoods, places to stay and incidences of crime. Check the State Department's website for country updates and enroll in the Smart Traveler Enrollment Program (STEP).</ul>
        <ul>travel security precaution is to know whom to call in an emergency. Get the contact information for the nearest embassy or consulate, police station, and other local emergency departments.</ul>
    </li>

</ul>
<hr />
<h2>During Travel</h2>

<hr />
<h2>After Travel</h2>

<hr />

{% endblock %}